#navigation {
position: fixed;
top: 0;
width: 100%;
color: #ffffff;
height: 45px;
text-align: center;
padding-top: 15px;

/* Adds shadow to the bottom of the bar */
-webkit-box-shadow: 0px 0px 8px 0px #000000;
-moz-box-shadow: 0px 0px 8px 0px #000000;
box-shadow: 0px 0px 8px 0px #000000;

/* Adds the transparent background */
background-color: rgba(1, 1, 1, 0.8);
color: rgba(1, 1, 1, 0.8);
}

#navigation a {
font-family: Verdana;
font-size: 20px;
padding-left: 60px;
padding-right: 60px;
color: white;
text-decoration: none;
}

#navigation a.button1:hover {
color: green;
}

#navigation a.button2:hover {
color: goldenrod;
}

#navigation a.button3:hover {
color: #0066ff;
}

#navigation a.button4:hover {
color: red;
}

#navigation a.button5:hover {
color: grey;
}

table, td {
	padding: 0;
	margin: 0;
	border: 6px blue solid;
}

.table1 {
	margin-left: auto;
	margin-right: auto;
	max-height: 120%;
	max-width: 120%;
}

.table2 {
	margin-left: auto;
	margin-right: auto;
	max-height: 70%;
	max-width: 70%;
}

body {
	padding: 0;
	margin: 0;
	background-image: url("Silver Wallpaper.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	
}

h1 {
	text-align: center;
	font-family: Arial;
	font-size: 45px;
	color: #006600;
	text-shadow: 0.5px 0.5px #00cc00;
}

h2 {
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	color: #006600;
	text-shadow: 0.5px 0.5px #00cc00;
}

h3 {
	font-family: Arial;
	font-size: 30px;
	color: #006600;
	text-shadow: 0.5px 0.5px #00cc00;
}

h4 {
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	color: #006600;
	text-shadow: 0.5px 0.5px #00cc00;
}

h5 {
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	color: #006600;
	text-shadow: 0.5px 0.5px #00cc00;
}

h6 {
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	color: #006600;
	text-shadow: 0.5px 0.5px #00cc00;
}

h7 {
	font-family: Arial;
	font-size: 30px;
	color: #006600;
	text-shadow: 0.5px 0.5px #00cc00;
}

p {
	font-size: 20px;
	color: #006600;
}

.bio {
	margin-left: 75px;
	margin-right: 30px;
	text-align: right;
	font-size: 30px;
	color: #006600;
}

.about_me {
	margin-left: 200px;
	margin-right: 200px;
	text-align: center;
	font-size: 30px;
	color: #006600;
}

.youtube_link {
	margin-bottom: 20px;
	margin-left: 35px;
	text-align: left;
	font-size: 30px;
	color: #006600;
}

.game1 {
	float: left;
	margin-left: 20px;
	max-width: 45%;
	max-height: 45%;
	border: 3px blue solid;
}

.game2 {
	float: right;
	margin-right: 20px;
	max-width: 45%;
	max-height: 45%;
	border: 3px blue solid;
}

.video1 {
	float: left;
	margin-left: 35px;
	border: 3px white solid;
}

.video2 {
	float: right;
	margin-right: 35px;
	border: 3px white solid;
}

.media_logo1 {
	display: inline;
	margin-left: 8px;
	max-width: 175px;
	max-height: 200px;
	border: 3px white solid;
}

.media_logo2 {
	display: inline;
	/*margin-left: 200px;*/
	max-width: 175px;
	max-height: 200px;
	border: 3px white solid;
}

.media_logo3 {
	display: inline;
	/*margin-left: 400px;*/
	max-width: 175px;
	max-height: 175px;
	border: 3px white solid;
}

.media_logo4 {
	display: inline
	/*margin-left: 600px;*/
	max-width: 175px;
	max-height: 175px;
	border: 3px white solid;
}

.media_logo5 {
	display: inline;
	/*margin-left: 800px;*/
	max-width: 175px;
	max-height: 175px;
	border: 3px white solid;
}

.media_logo6 {
	display: inline;
	/*margin-left: 1000px;*/
	max-width: 175px;
	max-height: 175px;
	border: 3px white solid;
}

.media_logo7 {
	display: inline;
	/*margin-left: 1200px;*/
	max-width: 160px;
	max-height: 160px;
	border: 3px white solid;
}

li {
	color: goldenrod;
}

/*li span {
	font-size: 20px;
	color: #006600;
}*/

.resize {
	max-width: 100%;
	height: auto;
	display: block;
}

.resize2 {
	position: relative;
	float: left;
	max-width: 30%;
	max-height: 30%;
	border: 3px white solid;
}

.title_size {
	font-family: Verdana;
	font-size: 30px;
	color: blue;
	text-align: center;
}

.go_back {
	font-family: Arial;
	font-size: 30px;
	color: #006600;
	text-shadow: 0.5px 0.5px black;
}

.go_back:hover {
	text-decoration: none;
}

.go_back:visited {
	font-family: Arial;
	font-size: 30px;
	color: #006600;
	text-shadow: 0.5px 0.5px black; 
}

a:hover {
	color: goldenrod;
	text-decoration: none;
}

a:visited {
	color: purple;
}

a:visited a:hover {
	color: goldenrod;
	text-decoration: none;
}